.features{
    padding: 80px 0;
}

.custom_h2{
    color: rgb(2 10 25);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.feature-title{
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgb(2 10 25 );
    font-weight: 700;
    font-size: 24px;
}
.feature-description{
    color: rgb(51 51 51 );
    font-size: 17px;
}


@media(max-width:776px){
    .custom_h2 {
        color: rgb(2 10 25);
        font-weight: 700;
        font-size: 30px;
        text-align: center;
    }
    .custom_features{
        padding:0 35px;
    }
}